html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Inter", sans-serif;
  position: relative;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  /* line-height: 1.; */
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  line-height: 1.07;
}
h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: 1.04;
}

h4 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

p {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all;
}
a:hover {
  transition: 0.2s all;
  color: #0a85ea;
}
ul {
  list-style: none;
  font-size: inherit;
}
.btn {
  border: 0px;
  border-radius: 60px;
  padding: 8px 15px;
  background-color: #ff3a61;
  color: #fff;
  transition: 0.2s;
}
.btn:hover {
  background-color: #ee496a;
  transition: 0.2s;
}
.body--wrapper {
  background-color: #0a85ea;
  color: #fff;
}

img {
  object-fit: cover;
  object-position: center;
}
.bold {
  font-weight: bold;
}
.semi-bold {
  font-weight: 600;
}

.max-width {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}
nav {
  height: 68px;
  position: relative;
}
.nav-wrapper {
  display: flex;
  justify-content: space-around;
}

.nav-wrapper img {
  width: 130px;
  height: auto;
}
.navbar__Link-toggle {
  display: none;
}

.navbar__items {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 24px;
}

@media (max-width: 650px) {
  nav {
    width: 100%;
    position: fixed;
  }
  .nav-wrapper {
    background-color: #fff;
  }
  .nav-wrapper,
  .navbar__items {
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
  }

  .navbar__items {
    display: none;
    margin-left: 0;
  }

  .navbar__Link-toggle {
    display: flex;
    margin-left: auto;
    align-items: center;
    align-items: flex-end;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 16px;
  }
  .cta-container {
    margin-top: 24px;
  }

  .navbar__ToggleShow {
    display: flex;
    height: auto;
    transition: 0.3s;
  }
}

.hero-section h1 {
  text-align: center;
  /* margin-top: 48px; */
}
.upper--folds h1,
.upper--folds p {
  max-width: 900px;
  margin: auto;
}
.upper--folds {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 60px;
}

.hero-section p,
.hero-section small {
  text-align: center;
}
.hero-section small img {
  width: 10px;
  height: auto;
}

.hero-section .upper--folds .banner-img {
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.hero-section hr {
  max-width: 1150px;
  margin: 24px auto;
}

.support--container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 48px;
}

.support--container .supports {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  width: 70%;
}

.support--container img {
  max-width: 150px;
  height: 60px;
  object-fit: contain;
}

@media (max-width: 770px) {
  .support--container .supports {
    flex-flow: row nowrap;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .body--wrapper h1 {
    margin-top: 48px;
  }
}

@media (max-width: 550px) {
  .support--container img {
    max-width: 100px;
    height: auto;
  }
}

@media (max-width: 400px) {
  .support--container img {
    max-width: 80px;
  }
}

.cta--section {
  background-color: #fff;
}
.cta--section-wrapper {
  color: #333;
  text-align: center;
  padding-bottom: 60px;
}

.cta--section-wrapper h2 {
  color: #0a85ea;
  margin: 48px 0 16px;
}

.cta--section-wrapper .languages-group {
  margin: 16px 0;
}

.testimonials--section {
  background-color: #111827;
  padding-bottom: 48px;
}

.testimonials--section-wrapper h2 {
  max-width: 450px;
  margin: 24px 0;
}
.testimonials--container {
  margin-top: 32px;
}
.testimonial {
  display: flex;
  gap: 24px;
  /* flex-flow: row wrap; */
  padding: 24px;
  border: 1px solid #93e7fe;
  border-radius: 16px;
  justify-content: space-evenly;
}

/* .testimonial .text--description{
  width: 65%;
} */
/* .testimonials--section-wrapper .text--description {
  position: relative;
} */
.testimonial img {
  width: 200px;
  height: 250px;
  border-radius: 16px;
}
.testimonial h4 {
  margin-bottom: 16px;
}
.testimonial p {
  margin-bottom: 24px;
  max-width: 600px;
}
/* .testimonials--section-wrapper .btn-group {
  position: absolute;
  border: 3px solid red;
} */
.testimonials--section-wrapper button {
  background-color: transparent;
  border: unset;
  color: #fff;
  cursor: pointer;
}
.testimonials--section-wrapper button.prev {
  margin-right: 24px;
}

.testimonials--section-wrapper button i {
  font-size: 24px;
}

@media (max-width: 600px) {
  .testimonial {
    padding: 12px;
    flex-flow: row wrap;
  }
  .testimonial img {
    width: 250px;
  }
}

@media (max-width: 360px) {
  .testimonial img {
    width: 100%;
  }
}

/* .footer-container{

} */

.upper-footer,
.lower-footer {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  flex-flow: row wrap;
  gap: 16px;
}

.upper-footer img {
  width: 120px;
  height: auto;
}
.upper-footer ul,
.lower-footer ul {
  display: flex;
  gap: 16px;
}

.lower-footer a {
  color: #111827;
}

@media (max-width: 400px) {
  .upper-footer ul,
  .lower-footer ul {
    flex-flow: row wrap;
  }
}

.app-menu--container {
  padding-top: 48px;
}

.app-menu--container header {
  text-align: center;
  max-width: 560px;
  margin: auto;
}

.app-menu--container header h1 {
  margin-bottom: 16px;
}

/* .app-menu--container header p{
  margin-bottom: 16px;
} */
.language-select--wrapper {
  margin-top: 60px;
}
.languages--container {
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
}

.language {
  background-color: #fff;
  color: #0f0049;
  border-radius: 8px;
  padding: 24px;
  flex: 1;
  width: calc(25% - 24px);
}
.language img {
  width: 70px;
  height: auto;
}
.language h3 {
  margin: 24px 0 16px;
  max-width: 100px;
}

.language-link:hover {
  text-decoration: none;
  color: inherit;
}

.app-menu--container div.nav--btn {
  text-align: center;
  margin: 60px 0;
}
.app-menu--container button.nav--btn {
  border-radius: 8px;
  background: transparent;
  border: 1.5px solid #fff;
  cursor: pointer;
}

@media (max-width: 800px) {
  .language {
    flex: unset;
    width: calc(50% - 12px);
  }
}

@media (max-width: 500px) {
  .language {
    padding: 12px;
  }
}

@media (max-width: 450px) {
  .language {
    padding: 24px;
    width: calc(100% - 0px);
  }
}

.app--container .container {
  max-width: 450px;
  margin: auto;
}

.app--container header {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.app--container header h1 {
  margin-bottom: 8px;
}

.app--container .word--card {
  max-width: 500px;
  margin: 48px auto 24px;
  background-color: #fff;
  color: #0f0049;
  border-radius: 16px;
  padding: 12px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app--container .word--card div {
  text-align: center;
}
.app--container .word--card div h4 {
  margin-bottom: 16px;
}

.app--container .word--card div p {
  margin-bottom: 16px;
}

.app--container .word--card .translate-btn {
  border-radius: 8px;
  background: transparent;
  border: 1.5px solid #0a85ea;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  color: #0a85ea;
  transition: 0.2s;
}

.app--container .word--card .translate-btn:hover {
  color: #0f0049;
  border: 1.5px solid #0f0049;
  transition: 0.2s;
}

.app--container .btn-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.app--container .nav--btn {
  border-radius: 8px;
  background: transparent;
  border: 1.5px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  font-weight: 600;
}

.app--container .generate-btn {
  background-color: #fff;
  border: unset;
  padding: 8px 10px;
  border-radius: 8px;
  color: #0a85ea;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 650px) {
  .app--container header h1 {
    margin-top: 70px;
  }
}

.gallery-header {
  background-color: #0a85ea;
  text-align: center;
  padding: 12px;
  color: #fff;
  /* min-height: 200px; */
}
.gallery-header header {
  max-width: 600px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-header header h1 {
  margin-bottom: 16px;
}

.gallery-content .filter--header {
  margin-bottom: 24px;
}
.gallery-content .filter-btn {
  border-radius: 16px;
  background: transparent;
  border: 1.5px solid #0f0049;
  color: #0f0049;
  cursor: pointer;
  padding: 4px 8px;
}
.gallery-content h2 {
  margin-bottom: 24px;
}

.gallery--wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.gallery--wrapper img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
.gallery--wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery--wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.gallery--wrapper .wide {
  grid-column: span 2;
}
.gallery--wrapper .tall {
  grid-row: span 2;
}
.gallery--wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
